<!-- {% extends "base.html" %}
{% block content %}
    <h1>Registered Users</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Farmer Type</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.farmer_type }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %} -->
